@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}
.v1 {
  border-left: 2px solid #a8896f;
  position: absolute;
  left: 5%;
  height: 305px;
}
.v2 {
  border-left: 2px solid #a8896f;
  position: absolute;
  left: 95%;
  height: 305px;
}
.hr {
  border-bottom: #a8896f 2px solid;
  position: absolute;
  left: 5%;
  width: 1214px;
}
header > div img {
  margin-left: 110px;
  margin-top: 45px;
  padding-bottom: 75px;
  padding-top: 15px;
  padding-left: 10px;
}

header {
  width: 100%;
  height: 304px;
  background-color: hsla(30, 7%, 16%, 1);
}
nav > ul {
  display: flex;
  /* justify-content: space-around; */
  align-content: center;
}
ul > a {
  list-style: none;
  color: #e6dcd3;
  text-transform: uppercase;
  font-family: "Poppins", serif;
  font-size: 17px;
  font-weight: 900px;
  text-decoration: solid;
  line-height: 6;
  display: inline;
}
ul {
  margin-left: 110px;
  display: flex;
  align-items: center;
  gap: 90px;
  padding-left: 10px;
}
ul > a:hover {
  color: #b4ada7;
}
.hamburger {
  /*border: 1px solid #a8896f;
  width: fit-content;
  height: fit-content;
  padding: 5px;*/
  margin-left: 95px;
  /* border-radius: 3px; */
}
.top {
  border: 1px solid #a8896f;
  width: 30px;
}
.bottom {
  border: 1px solid #a8896f;
  width: 30px;
  margin-top: 5px;
}
.hero {
  background-color: hsla(30, 7%, 16%, 1);
  width: 100%;
  height: 75px;
  position: relative;
  text-align: center;
  color: white;
}
.head-txt {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 400;
  font-size: 22px;
}
.head-txt {
  position: absolute;
  top: 230px;
  left: 20%;
}
.main-txt {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: white;
}
.main-txt {
  position: absolute;
  top: 285px;
  left: 20%;
}
.last-txt {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 42px;
  font-weight: 700;
  color: white;
}
.last-txt {
  position: absolute;
  top: 335px;
  left: 20%;
}
.hr-2 {
  border-bottom: #a8896f 2px solid;
  width: 100%;
  position: absolute;
  top: 1130px;
}
.sec {
  /* display: flex;
  flex-direction: column; */
}
.sec > h2,
.para-sec-2-1,
.para-sec-2-2 {
  position: relative;
  top: 850px;
}
.sec > h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 42px;
  font-weight: 550;
  color: #2c2926;
  text-align: center;
}
.para-sec-2-1 {
  color: #2c2926;
  font-size: 23px;
  text-align: center;
  max-width: 800px;
  margin-left: 285px;
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.para-sec-2-2 {
  color: #2c2926;
  font-size: 23px;
  text-align: center;
  max-width: 600px;
  margin-left: 385px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.button {
  display: flex;
  justify-content: center;
}
.btn-sec-2 {
  background-color: #a15231;
  font-family: "Poppins", serif;
  color: #fbfaf8;
  font-size: 18px;
  padding: 5px 70px;
  border: none;
  position: relative;
  top: 870px;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.btn-sec-2:hover {
  background-color: #bb623b;
  border: #a15231 solid 1px;
}
.hr-3 {
  border-bottom: #a8896f 2px solid;
  width: 1214px;
  position: absolute;
  top: 1700px;
  left: 5%;
}
.intro {
  display: flex;
  /* justify-content: space-evenly; */
}
.intro > .intro-img {
  position: relative;
  top: 906px;
  margin-left: 68px;
  max-width: 425px;
}
.intro > .intro-material {
  position: relative;
  top: 1000px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: small;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 50px; */
}
.intro-h,
.intro-p {
  margin-left: 80px;
}
.intro-h {
  font-size: 44px;
  color: #2c2926;
  font-weight: 700;
  line-height: 1.2;
}
.intro-p {
  font-size: 21px;
  width: 400px;
  color: #2c2926;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 12px;
}
.frame {
  position: relative;
  top: 906px;
  background-color: white;
  width: 80px;
  height: 650px;
  border-top: #a8896f 2px solid;
}
.btn-sec-3 {
  position: relative;
  top: 50px;
  background-color: #a15231;
  color: #fbfaf8;
  font-size: 18px;
  padding: 12px 39px;
  border: none;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  margin-left: 79px;
  text-transform: uppercase;
  font-family: "Poppins", serif;
}
.btn-sec-3:hover {
  background-color: #bb623b;
  border: #a15231 solid 1px;
  padding-left: 100px;
  padding-right: 100px;
}
.hr-4 {
  border-bottom: #a8896f 2px solid;
  width: 1212px;
  margin-left: 68px;
  position: absolute;
  top: 2365px;
}
section > .circle {
  background-color: hsl(51, 17%, 43%, 1);
  border-radius: 50%;
  width: 278px;
  height: 278px;
  margin-left: 530px;
  display: inline-block;
  position: relative;
  top: 650px;
  mix-blend-mode: multiply;
  font-family: sans-serif;
  font-size: 16px;
  color: #e6dcd3;
  text-transform: uppercase;
}
section > .circle-2 {
  background-color: hsl(18, 53%, 41%, 1);
  border-radius: 50%;
  width: 278px;
  height: 278px;
  position: relative;
  top: 590px;
  margin-left: 420px;
  display: inline-block;
  mix-blend-mode: multiply;
  font-family: sans-serif;
  font-size: 16px;
  color: #e6dcd3;
  text-transform: uppercase;
}
 section > .circle-3 {
  background-color: hsl(231, 15%, 25%, 1);
  border-radius: 50%;
  width: 278px;
  height: 278px;
  position: relative;
  top: 310px;
  margin-left: 650px;
  display: inline-block;
  mix-blend-mode: multiply;
  font-family: sans-serif;
  font-size: 16px;
  color: #e6dcd3;
  text-transform: uppercase;
}
.c-p-1 {
  margin-left: 115px;
  margin-top: 35px;
}
.c-p-2 {
  margin-left: 100px;
  margin-top: 50px;
}
.c-p-3 {
  margin-left: 100px;
  margin-top: 50px;
}
.circle > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #e6dcd3;
  text-align: center;
  margin-top: 75px;
}

.circle-2 > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #e6dcd3;
  text-align: center;
  margin-top: 30px;
}

.circle-3 > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #e6dcd3;
  text-align: center;
  margin-top: 35px;
}
.v-short-line-u {
  border-left: 2px solid #a8896f;
  position: relative;
  left: 50%;
  top: 918px;
  height: 80px;
  z-index: -1;
}
.v-short-line-b {
  border-left: 2px solid #a8896f;
  position: relative;
  left: 50%;
  top: 276px;
  height: 180px;
  z-index: -1;
}

.hr-5 {
  border-bottom: 2px solid #a8896f;
  width: 1214px;
  margin-left: 68px;
  position: absolute;
  top: 3080px;
}
.v3 {
  border-left: 2px solid #a8896f;
  position: absolute;
  left: 5%;
  height: 3000px;
}
.v4 {
  border-left: 2px solid #a8896f;
  position: absolute;
  left: 95%;
  height: 3000px;
}
.a-text{
  color: #2c2926;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-size: 18px;
  max-width: 150px;
  text-align: justify;
  position: relative;
  top: 900px;
  left: 130px;
  
}
.b-text{
  color: #2c2926;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-size: 18px;
  max-width: 150px;
  text-align: justify;
  position: relative;
  top: 1030px;
  left: 950px;
  
}
.c-text{
  color: #2c2926;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200;
  font-size: 18px;
  max-width: 150px;
  text-align: justify;
  position: relative;
  top: 1250px;
  left: 40px;
  
}
body{
  overflow-x: hidden;
}